/* Container d'une page */

.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    background-color: var(--white);
}

.container p {
    word-wrap: break-word;
    word-break: normal;
    overflow-wrap: anywhere;
}

/* Bouton retour */
.back-btn {
    margin-bottom: 15px;
}

.back-btn button {
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid var(--black);
    background: transparent;
    cursor: pointer;
}

.part-title {
    margin-bottom: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.alert-warn {
    display: block;
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

hr {
    border: solid 1px var(--grey);
    margin: 20px auto;
    max-width: 200px;
}

@media screen and (max-width: 600px) {
    .part-title {
        font-size: 1.3rem;
        text-align: center;
    }
}
